@import 'tailwindcss';
@import 'fumadocs-ui/css/vitepress.css';
@import 'fumadocs-ui/css/preset.css';

html > body[data-scroll-locked] {
	margin-right: 0px !important;
	--removed-body-scroll-bar-size: 0px !important;
}

html {
	scrollbar-gutter: stable;
	.prose :where(p):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.prose :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		font-size: 1.375rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-weight: 600;
	}
	.prose :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)):not(:first-child) {
		margin-top: 4rem;
	}

	.prose :where(h3):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		font-size: 1.15rem;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
		font-weight: 600;

		&::before {
			content: '#';
			margin-right: 0.5rem;
			color: var(--color-fd-muted-foreground);
		}
	}

	blockquote {
		font-weight: 400;
		color: var(--color-fd-muted-foreground);
		font-size: 0.875rem;
	}
}
